<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appslelo.ebgsoldier">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ebg_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ebg_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name="com.orm.SugarApp"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">

        <meta-data android:name="DATABASE"
            android:value="abp_database.db" />
        <meta-data android:name="VERSION"
            android:value="1" />
        <meta-data android:name="QUERY_LOG"
            android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.earnbygame.ebgsoldier" />
        <service android:name="com.appslelo.ebgsoldier.services.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.appslelo.ebgsoldier.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.appslelo.ebgsoldier.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.appslelo.ebgsoldier.activity.DashActivity"
            android:label="@string/title_activity_dash"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.appslelo.ebgsoldier.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.appslelo.ebgsoldier.activity.PaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.appslelo.ebgsoldier.activity.MatchDetailActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>